

<form action="/payment/results">

<label for="payment_apr"> APR </label>

<input id="payment_apr" type="text" placeholder="E.g. 5.42" name="user_apr">

<label for="payment_years"> Number of years </label>

<input id="payment_years" type="text" placeholder="How many years to repay" name="user_years">

<label for="payment_principal"> Principal </label>

<input id="payment_principal" type="text" placeholder="How much principal?" name="user_principal">

<button> Calculate monthly payment </button>

</form>
